<<form method="POST">
    
    <table>
        <tr>
            <td>{{ form_label(form.titre) }}</td>
            <td>{{ form_label(form.auteur) }}</td>
            <td>{{ form_label(form.contenu) }}</td>
            <td>{{ form_label(form.date) }}</td>
        </tr>
        <tr>
            <td>{{ form_widget(form.titre) }}</td>
            <td>{{ form_widget(form.auteur) }}</td>
            <td>{{ form_widget(form.contenu) }}</td>
            <td>{{ form_widget(form.date) }}</td>
        </tr>
        
    </table>
    {{ form_widget(form) }}
    
    <input type="submit" value="Valider" />
</form>